@use "./blocks/preloader";

@use "normalize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";

@use "./blocks/icon";
@use "./blocks/logo";
@use "./blocks/button";
@use "./blocks/burger-button";
@use "./blocks/header";
@use "./blocks/theme";
@use "./blocks/hero";
@use "./blocks/live-typing";
@use "./blocks/skills";
@use "./blocks/portfolio";
@use "./blocks/work-experience";
@use "./blocks/footer";
@use "./blocks/soc1als";

// .footer,
// .header,
// .hero,
// .skills,
// .portfolio {
//   display: none !important;
// }

@keyframes showLeft {
  0% {
    left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes showRight {
  0% {
    right: -100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes showTop {
  0% {
    top: -200px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes showBottom {
  0% {
    bottom: -200px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
