@use "../helpers/" as *;

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/* Анимация повяление блоков */
.green {
  background-color: green;
}

.red {
  background-color: red;
}

/* Задаем высоту большим блокам, чтобы у нас на странице получится скролл */

li,
h1,
h2,
.footer,
.logo,
.theme {
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(20px);
}

li.element-show,
h1.element-show,
h2.element-show,
.footer.element-show,
.logo.element-show,
.theme.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}
